.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
*.tgz
*.tar.gz
node_modules
dist/

demo*/app/*.js
demo*/hooks
demo*/platforms
demo*/node_modules
demo*/report/report.html
demo*/report/stats.json

seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*

publish/src
publish/package


# DO not ignore files/folders
!demo*/karma.conf.js
!demo*/app/tests/*.js
!seed-tests/*.js
