.vscode
.idea
.DS_Store
*.js.map
*.log
*.tar.gz
node_modules

seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
demo/lib
demo/platforms
demo/node_modules
demo/report/report.html
demo/report/stats.json
demo/app/app.ts
publish/src
publish/package
